#modalDialog {
    overflow-y: initial !important
}

#modalBody {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}

.totalPrice {
    margin-left: 5px;
    float: left;
    color: #1e7e34;
    font-weight: bold;
}

.sendButton {
    width: 20px;
    height: 20px;
}

#ordersCount {
    font-style: italic;
    font-weight: bold;
    font-family: "Lucida Console", "Courier New", monospace;
}